.button-view-tech {
  color: white;
  border: 2px solid white;
  background-color: black;
  width: 100%;
  align-self: center;
  font-size: 1.75rem;
}

.close-button {
  background-image: linear-gradient(#00b3b3, #6699ff);
  border: solid black 2px;
  color: white;
  width: 100%;
  align-self: center;
  font-size: 1.75rem;
}

.description {
  font-size: 2rem;
}

@media screen and (max-width: 780px) {
  .button-view-tech {
    color: white;
    border: 2px solid white;
    background-color: black;
    width: 100%;
    align-self: center;
    font-size: 1rem;
  }
  .description {
    font-size: 1rem;
  }
}
