/* Home page CSS */
.margin {
  margin-top: 20px;
}

.image-size {
  width: 400px;
  height: 300px;
}

.image-container {
  height: 600px;
  width: 600px;
}

.card-border {
  border: none;
  height: auto;
  width: auto;
  width: 18%;
  margin: 20px;
}

.text-style {
  text-align: center;
  font-family: "Share Tech", sans-serif;
}

.header-title {
  font-size: 2.5rem;
}

.p-text {
  font-size: 1.25rem;
}

.learn-more {
  font-size: 2rem;
  font-style: italic;
}

.tech-button {
  font-size: 1.75rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.button-style {
  background-image: linear-gradient(#00b3b3, #6699ff);
  border: solid black 1px;
  color: white;
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 780px) {
  .margin {
    margin-top: 20px;
  }

  .learn-more {
    font-size: 4rem;
    font-style: italic;
  }

  .tech-button {
    font-size: 1.5rem;
  }
  .card-border {
    border: none;
    height: auto;
    width: 70%;
    margin: 20px;
  }
}
.padding-bottom {
  padding-bottom: 100px;
}

@media screen and (max-width: 480px) {
  .margin {
    margin-top: 0px;
  }
  .image-size {
    width: 300px;
    height: 200px;
  }

  .image-container {
    height: 300px;
    width: 200px;
  }
  .header-title {
    font-size: 1.25rem;
  }

  .p-text {
    font-size: 0.75rem;
  }

  .learn-more {
    font-size: 4rem;
    font-style: italic;
  }

  .tech-button {
    font-size: 1.5rem;
  }
  .card-border {
    border: none;
    height: auto;
    width: 90%;
    margin: 20px;
  }
}
.padding-bottom {
  padding-bottom: 100px;
}
